<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tabs">
    <ion-tab-button tab="tab1" class="custom-tab-button">
      <div class="tab-content">
        <!-- Cambiado a imagen en lugar de ion-icon -->
        <img src="../../assets/Iconos menú/home-button.png" alt="Inicio" class="tab-icon">
        <ion-label>Inicio</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="custom-tab-button">
      <div class="tab-content">
        <!-- Cambiado a imagen en lugar de ion-icon -->
        <img src="../../assets/Iconos menú/gridicons--heart-outline (1).png" alt="Ganado" class="tab-icon">
        <ion-label>Ganado</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="custom-tab-button">
      <div class="tab-content">
        <!-- Cambiado a imagen en lugar de ion-icon -->
        <img src="../../assets/Iconos menú/openmoji--cow-face.png" alt="Eventos" class="tab-icon">
        <ion-label>Eventos</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="tab4" class="custom-tab-button">
      <div class="tab-content">
        <!-- Cambiado a imagen y actualizado label de "Ajustes" a "Configuración" -->
        <img src="../../assets/Iconos menú/settings.png" alt="Configuración" class="tab-icon">
        <ion-label>Configuración</ion-label>
      </div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
